<ul>
  <li><%= link_to article.title, article_path(article.slug) %></li>
  <li><%= article.content %></li>
  <li><%= render_content article.content, :markdown %></li>
  <li><%= l article.published_at %></li>
</ul>
