<div>title:<%= form.text_field :title %></div>
<div>slug:<%= form.text_field :slug %></div>
<div>content:<%= form.text_area :content %></div>
<div>published_at:<%= form.datetime_select :published_at %></div>
