# -*- coding: utf-8 -*-
# ---------------------------------------
# common
# ---------------------------------------
common: &common
  twitter:
    consumer_key: CONSUMER_KEY
    consumer_secret: CONSUMER_SECRET

# ---------------------------------------
# development
# ---------------------------------------
development:
  <<: *common

# ---------------------------------------
# production
# ---------------------------------------
production:
  <<: *common

# ---------------------------------------
# test
# ---------------------------------------
test:
  <<: *common
